OBJS = $(DIR_OBJ)/module_global.o    \
       $(DIR_OBJ)/module_parser.o    \
       $(DIR_OBJ)/module_string.o    \
       $(DIR_OBJ)/module_array_compose.o           \
       $(DIR_OBJ)/module_array.o           \
       $(DIR_OBJ)/module_math.o           \
       $(DIR_OBJ)/module_sf90_mpi.o   \
       $(DIR_OBJ)/module_io.o           \
       $(DIR_OBJ)/module_sf90_io.o   \
       $(DIR_OBJ)/module_fftw.o          \
       $(DIR_OBJ)/module_utility.o           \
       $(DIR_OBJ)/module_datatype.o    \
       $(DIR_OBJ)/module_source.o    \
       $(DIR_OBJ)/module_acquisition2d.o          \
       $(DIR_OBJ)/module_acquisition3d.o          \
       $(DIR_OBJ)/module_marchenko.o	\
       $(DIR_OBJ)/module_inversion.o           \
       $(DIR_OBJ)/module_read_para.o           \
       $(DIR_OBJ)/module_resort2d.o           \
       $(DIR_OBJ)/module_resort3d.o           \
       $(DIR_OBJ)/module_boundary2d.o           \
       $(DIR_OBJ)/module_fd2d.o          \
       $(DIR_OBJ)/module_aperture2d.o          \
       $(DIR_OBJ)/module_a2d.o          \
       $(DIR_OBJ)/module_e2d.o		\
       $(DIR_OBJ)/module_a2d_multisource.o          \
       $(DIR_OBJ)/module_eikfd2d_fir.o          \
       $(DIR_OBJ)/module_eikfd2d_dir.o          \
       $(DIR_OBJ)/module_pweikfd2d_dir.o          \
       $(DIR_OBJ)/module_pweikfd2d_fir.o          \
       $(DIR_OBJ)/module_ref2d.o          \
       $(DIR_OBJ)/module_km2d.o          \
       $(DIR_OBJ)/module_boundary3d.o           \
       $(DIR_OBJ)/module_fd3d.o          \
       $(DIR_OBJ)/module_aperture3d.o          \
       $(DIR_OBJ)/module_a3d.o          \
       $(DIR_OBJ)/module_e3d.o          \
       $(DIR_OBJ)/module_a3d_multisource.o          \
       $(DIR_OBJ)/module_eikfd3d_fir.o          \
       $(DIR_OBJ)/module_eikfd3d_dir.o          \
       $(DIR_OBJ)/module_pweikfd3d_dir.o          \
       $(DIR_OBJ)/module_ref3d.o          \
       $(DIR_OBJ)/module_km3d.o          \
       $(DIR_OBJ)/module_pwkm2d.o          \
       $(DIR_OBJ)/module_pwkm3d.o        \
       $(DIR_OBJ)/module_sacio.o        


